.pio/
.vscode/
load_tests/
/Reports&Documents
NoGit/
*.box
packer-pio/output-*/*
packer-pio/packer_cache/*
.gitignore~
*.xml
*.csv
*.log
*.pyc
contops/dlogs/config.json
id_rsa
id_rsa.pub
id_rsa_aws_devops
id_rsa_aws_devops.pub
*.key
*.crt
.python-version
# mac stuff
.DS_Store

# terraform related ignores
*.dll
*.exe
example.tf
terraform.tf
terraform.tfplan
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
.terraform/
*.bak
*~
.*.swp
.idea
*.iml
*.test
website/vendor
build/
dist/
*.spec

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
plan.txt
contops/troncos/config.json
# fluentd ignores
fluent.conf